extends layout

block content
	h1= title
	p Welcome to #{title}
	if error
		p(style="color:red;")=error
	form(method="post",action="/chat")
		label.
			Enter your name :
		input(type="text",name="nom",placeholder="name")
		input(type="submit",value="Go in chat")