doctype html
html
	head
		title= title
		base(href="/")
		<meta name="viewport" content="width=device-width, initial-scale=1">
		link(rel='stylesheet',href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='//code.jquery.com/jquery-2.1.3.min.js')
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
		script(src="https://cdn.socket.io/socket.io-1.3.5.js")
		script(src='/javascripts/ChatClient.js')
	body
		div.container-fluid
			.row
				block content