body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

.bg-game {
    min-height: 300px;
    border-left: 1px solid #52caf9;
}

h4 {
    padding-left: 10px;
    margin-left: -15px;
}

.bg-game h4 {
    border-bottom: 2px solid #52caf9;
}

.block-score {
    min-height: 400px;
    border-left: 1px solid #006ad8;
}

    .block-score h4 {
        border-bottom: 2px solid #006ad8;
    }

.block-chat {
    border-left: 1px solid #000080;
}

    .block-chat h4 {
        border-bottom: 2px solid #000080;
    }

.row {
    height: 100%;
}

.message {
    margin-top: 18px;
    padding-top: 5px;
    border-top: solid 1px #e7e7e7;
}

#msgContainer {
    height: 350px;
    overflow-x: auto;
}

    #msgContainer h4 {
        margin: 0;
        padding: 0;
    }

.connect {
    color: blueviolet;
}

#game {
    border: #cccccc 1px solid;
}
